{% extends 'blog/basic.html' %}

{% block title %}Create Blog{% endblock title %}


{% block body %}
<!-- Button trigger modal -->

<div class="container-fluid mt-3 mb-4">
    <div class="bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <h1><strong>Create Your Own Blog</strong> </h1>
        </blockquote>
    </div>
</div>
<div class="container mb-4">
    <form id="myForm" method='POST' action='/blog/createblog/' enctype="multipart/form-data">
    {% csrf_token %}
        {% for field in forms %}
        {% if field.is_hidden %}
            {{field}}
        {% else %}
            <div class="form-group">
                <h3 class="text-center"><label for="{{field.id_for_label}}"><span class="badge badge-danger p-2">{{field.label}}</span></label></h3>
                {{field}}
                <small id="category" class="form-text text-muted">Category cannot exceed more than 30 characters</small>
            </div>
        {% endif %}
        {% endfor %}
        <input type='hidden' id='username' value="{{user.username}}">
        <h3 class="text-center"><span class="badge badge-danger p-2">Write Your Blog With Our Blog Editor</span></h3>
        <textarea id="mytextarea" required>Type Your Blog Here!</textarea>
         <!-- Button trigger modal -->
         <div class="text-center">
            <button type="button" class="btn btn-lg btn-success mt-3" data-toggle="modal" data-target="#exampleModal">
            Create Blog
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Check Once Again</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                After creating a blog you can no longer change your blog in future. Create your blog carefully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitBtn">Create</button>
            </div>
            </div>
        </div>
        </div>
    </form>

</div>

{% endblock body %}

{% block js %}

<script src="https://cdn.tiny.cloud/1/br3n2d30o4d6nze0atvlf4h8idhoh30m2fhukqflfzkq6hci/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#mytextarea',
        plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'table emoticons template paste help'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullpage | ' +
            'forecolor backcolor emoticons | help',
        menu: {
            favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | spellchecker | emoticons' }
        },
        menubar: 'favs file edit view insert format tools table help',
        {% comment %} content_css: 'css/content.css' {% endcomment %}
    });
</script>
<script>
$(document).ready(function(){
    $("#submitBtn").click(function(){    
        $('#id_content').val(tinyMCE.get("mytextarea").getContent());
        $('#id_author').val($('#username').val());
        $("#myForm").submit(); // Submit the form
    });
});
</script>
<style>
    #mytextarea {
        height: 100vh;
    }
</style>

{% endblock js %}