{% extends 'blog/basic.html' %}

{% block title %} Search {% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}
    <div class="container-fluid mt-1 mb-4">
        <div class="bg-primary text-white text-center p-3">
            <blockquote class="blockquote mb-0">
                <h1><strong>Search Result's</strong> </h1>
            </blockquote>
        </div>
    </div>
    <div class="container mt-3">
    <div class="row my-2">
            {% for item in blogs %}
           <div class="col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250" id="{{item.pk}}">
                <div class="card-body d-flex col-md-8 flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">{{item.category}}</strong>
                    <h3 class="mb-0">{{item.title}}</h3>
                    <div class="mb-1 text-muted">{{item.pub_date}}</div>
                    <p class="card-text mb-auto">{{item.description|truncatechars:115}}....</p>
                    <a href="/blogpost/{{item.post_id}}" style="text-decoration: none;">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-lg-block" alt="{{item.title}}"
                    style="width: 200px; height: 250px;" src="/media/{{item.thumbnail}}" data-holder-rendered="true" />
            </div>
        </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row my-2">
            {% endif %}
            {% empty %}
            <div class="container">
                <h3>Your search - <b>{{search}}</b> - did not match any Blog.</h3>
                    <h2 class="mt-4">Suggestions:</h2>
                    <ul>
                    <li><h4>Make sure that all words are spelled correctly.</h4></li>
                    <li><h4>Try different keywords.</h4></li>
                    <li><h4>Try more general keywords.</h4></li>
                    <li><h4>Try fewer keywords.</h4></li>
                    <ul>
            </div>
            {% endfor %}
            </div>
        </div>
{% endblock body %}

{% block js %}
<script>
//***************** Card Hover Shadow and cursor effect ******************//
$(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready  
  $('.card').click(function(){
      id =this.id;
      window.location.href = `/blog/blogpost/${id}`;
  })
  $( ".card" ).hover(
  function() {
    $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
  }, function() {
    $(this).removeClass('shadow-lg');
  }
);
});
//****************// Card Hover Shadow and cursor effect //**************//
</script>
{% endblock js %}