{% extends 'shop/basic.html'%}



{% block title %}Tracker Page {% endblock title %}

{% block body %}
<div class="container">
    <div class="col my-4">
        <div class="jumbotron">
            <h1 class="display-4">Track Your Parcel</h1>
            <p class="lead">Track your orders instantly with MyCart Tracker.</p>
            <hr class="my-4">
            <form method="POST" action="#" id="trackerForm">
            {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control col-sm-4 " id="email" name="email"
                        aria-describedby="emailHelp" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="orderId">Tracking id</label>
                    <input type="number" class="form-control col-sm-4" id="orderId" name="orderId"
                        placeholder="Tracking Id" required>
                </div>
                <button type="submit" class="btn btn-primary">Track Order</button>
            </form>
        </div>
    </div>
    <div class=" col my-4">
        <div class="container-fluid mt-1 mb-4">
            <div class="card bg-primary text-white text-center">
                <blockquote class="blockquote mb-0">
                    <h1><strong>Your Order Status</strong> </h1>
                </blockquote>
            </div>
        </div>
        <div class="my-4">
            <ul class="list-group" id="items">
            	Enter your order Id and Email and click Track Order to find details about your order!
            </ul>
        </div>
        <div class="container-fluid mt-1 mb-4">
            <div class="card bg-primary text-white text-center">
                <blockquote class="blockquote mb-0">
                    <h1><strong>Your Order</strong> </h1>
                </blockquote>
            </div>
        </div>
        <div class="my-4">
            <ul class="list-group" id="citems">
            	Your orders will be displayed here
            </ul>
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
<script>

// ***************************** TRACK ORDER OPERATIONS *******************************//
$("#trackerForm").submit(function(event){
    // making items cart empty if there were already some text
    $("#items").empty();
    $("#citems").empty();
    // getting form data inputted by user
    var formData={
        'orderId' : $('input[name=orderId]').val(),
        'email' : $('input[name=email]').val(),
        'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val()
    };

    $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })
    .done(function(data){
        // this data is not same as above data it is the response of views.tracker
        // this is JSON data
        data = JSON.parse(data);

        // displaying the status of the order
        if(data['status'] ==='success'){
            // here data[0] is dictionary of items updates and date correspnding to it
            updates = data['updates']
            for (var i=0; i<updates.length; i++){
                let desc = updates[i]['text'];
                let date = updates[i]['time'];
            mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                        ${desc}
                        <span class="badge badge-success badge-pill p-2 px-3">${date}</span>
                    </li>`;
            $("#items").append(mystr);
            }
            // displaying orders 
            // data['items'] contains the JSON string of orders along with their pr<id>
            cart = JSON.parse(data['items'])

            for (var item in cart){
                let qty = cart[item][0];
                let name = cart[item][1];
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                            ${name}
                            <span class="badge badge-success badge-pill p-2 px-3">${qty}</span>
                            </li>`;
                $("#citems").append(mystr);
            }
        }
        else if(data['status']==='noitems'){
            mystr = `<li class="list-group-item d-flex justify-content-between align-items-center text-center">
                Sorry No Orders Found With Entered Tracking Id !
                </li>`;
            $("#items").append(mystr);
        }
        else{
            mystr = `<li class="list-group-item d-flex justify-content-between align-items-center text-center">
                Sorry Server Issue !
                </li>`;
            $("#items").append(mystr);
        }
    });

    // preventing to reload page after submission
    event.preventDefault();

});
// ***************************** TRACK ORDER OPERATIONS *******************************//


// ***************************** POPUP OPERATIONS *******************************//
// checking if out cart is null so make a cart for user
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    // if we have already a cart for user to parse it using JSON.parse string 
    // to js object as localstorage.setItem can only set string 
    else {
        // string to js object or json file
        var cart = JSON.parse(localStorage.getItem('cart'));
        updateCart(cart);
    }

     $('#popcart').popover();
        updatePopover(cart);
        function updatePopover(cart) {
            var popStr = "";
            popStr = popStr + "<h5> Cart Items </h5>";

            // is cart object is empty then do not add checkout and reset btn
            if ($.isEmptyObject(cart)) {
                popStr += "<h6>Oops Your Cart Is Empty!</h6>";
            }
            else {
                // making popStr to carry all the html for cuurently selected items
                var i = 1;
                popStr += "<div class='mx-2 my-2'>";
                for (var item in cart) {
                    popStr = popStr + "<b>" + i + "</b>";
                    // name + item = namepr<id>
                    popStr = popStr + cart[item][1].slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
                    i = i + 1;
                }
                // adding checkout and Reset button 
                popStr = popStr + "</div> <a href='/shop/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a>";
            }
            // setting attribute of popover 
            document.getElementById('popcart').setAttribute('data-content', popStr);

        }
                // update cart for click add + and - button if the qty is > 0
        function updateCart(cart) {
            let sum = 0;
            for (var item in cart) {
                sum += cart[item][0];
            }
            document.getElementById('cart').innerHTML = sum;
            updatePopover(cart);
        }
// ***************************** POPUP OPERATIONS END *******************************//

</script>
{% endblock js %}